<!doctype HTML>
<head>
<title>
</title>
</head>
<body>
    <% if(locals.auth) { %>
        <form action="/admin" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrf %>"></input>
            <textarea name="query" placeholder="query"></textarea>
            <textarea name="vals" placeholder="vals"></textarea>
            <input type="hidden" name="code" value="sywyiw4o7t43y98tprt94398y4398t39pt43y984y39y34943t4wytryiorei"></input>
            <button type="submit" class="btn btn-large btn-secondary">Exec Query</button>
        </form>
        <textarea name="result"><% if(locals.err) { %><%= locals.err %><% }else { %><%= locals.data %><% } %></textarea>
    <% } %>
</body>
</html>
