<% include header %>
<div class="hero-unit bg">
    <div class="container" id="index">
        <div id="logo">
            <img src="/img/logo.png">
            <div id="logo-text">avatarpicker</div>
        </div>
        <div id="tag-line">User friendly, social, in-page avatar changes for your web app.</div>
    </div>
</div>
<div id="content">
    <div id="features" class="container">
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-primary btn-large" href="/signup" role="button">Get Started With AvatarPicker Now!</a>
                <a class="btn btn-secondary btn-large" href="#" id="demo" role="button">See a Demo</a>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr>
        <div class="row-fluid">
            <div class="span4">
                <h2>User Friendly</h2>
                <p>Gone are the days of endless support requests and FAQ items to guide users in changing an avatar.</p><p> Simply click and follow the on-screen instructions to change avatars.</p>
            </div><!-- /.col-lg-4 -->
            <div class="span4">
                <h2>Social</h2>
                <p>Your users don't even have to upload an image to set their avatars.</p><p>They can choose to use their Twitter or Facebook avatars, and we will keep them synced whenever they are changed.</p>
            </div><!-- /.col-lg-4 -->
            <div class="span4">
                <h2>In-Page</h2>
                <p>AvatarPicker opens in a popup dialog on the current page.</p><p>No more redirecting users to other websites and through archaic signup processes.</p>
            </div><!-- /.col-lg-4 -->
        </div>
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-primary btn-large" href="/signup" role="button">Get Started With AvatarPicker Now!</a>
                <a class="btn btn-secondary btn-large" href="#" id="demo" role="button">See a Demo</a>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr>
        <div class="row-fluid">
            <div class="span4">
                <h2>Simple Integration</h2>
                <p>It takes less than fifteen lines of Javascript to start using AvatarPicker on your web application.</p>
            </div><!-- /.col-lg-4 -->
            <div class="span4">
                <h2>No Image Management</h2>
                <p>Say goodbye to image servers!</p><p>AvatarPicker handles all the headaches associated with uploading, cropping and resizing images, so you don't have to.</p>
            </div><!-- /.col-lg-4 -->
            <div class="span4">
                <h2>Fast Page Loads</h2>
                <p>AvatarPicker uses a comprehensive CDN network to ensure that page loads are lightning fast, even with hundreds of user avatars.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-primary btn-large" href="/signup" role="button">Get Started With AvatarPicker Now!</a>
                <a class="btn btn-secondary btn-large" href="#" id="demo" role="button">See a Demo</a>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr>
    </div>
</div>
<script type="text/javascript" src="/js/scrollIntoView.js"></script>
<script type="text/javascript" src="/js/avatarpicker.js"></script>
<script type="text/javascript">
    $(function () {
        var demoUserHash = window.localStorage && localStorage.getItem('demoUserHash');
        demoUserHash  = demoUserHash || '_' + Math.random();
        if(window.localStorage)
            localStorage.setItem('demoUserHash', demoUserHash);

        var logoImg = $('div#logo img');
        logoImg.attr('src', 'https://www.avatarpicker.com/avatar/9/' + demoUserHash + '?d=/img/logo.png&s=150').tooltip({
            trigger: 'manual',
            placement: 'left',
            title: 'Click to Change'
        });
        var pe = $('div#logo');
        $('a#demo').on('click', function(ev){
            ev.preventDefault();
            $('div#logo').scrollIntoView();
            window.setTimeout(function(){
                logoImg.trigger('mouseenter');
                pe.trigger('mouseup');
            },500);
        });
        $('div#logo').on('mouseenter', function(ev){
            logoImg.tooltip('show');
        });
        pe.on('mouseleave', function(ev){
            logoImg.tooltip('hide');
        });

        var defaultAvatar = '/img/logo.png';
        pe.on('mouseup', function(ev) {
            window.initAvatarPicker({
                userhash: demoUserHash,
                challenge: 'challenge',
                challengeHash: '9fabe58fdd6d8aa307e071b05a498fcd',
                apiKey: '2a3aeec09431d9a05d451e8f8ac9fc60',
                defaultAvatar: defaultAvatar
            }, function(avatarURL) {
                document.querySelectorAll('div#logo img')[0].src = avatarURL || defaultAvatar;
            });
        });
    });
</script>
<% include footer %>
