<% include header %>
<% if(locals.nocharge){ %>
    <div class="hero-unit">
        <div class="container" id="pricing">
            <p>We currently have no plans of charging for AvatarPicker, but that might change in future if the service proves to be popular enough.</p>
            <h4>&nbsp;</h4>
            <a href="/signup" class="btn btn-large btn-primary">Sign Up Now!</a>
        </div>
    </div>
<% } else{ %>
    <div class="hero-unit">
        <div class="container" id="pricing">
            <div class="row-fluid">
                <div class="span12 notice-container">
                    <div class="trial-notice notice">First 30 days free on all plans.</div>
                    <div class="annual-notice notice">Buy annually and get an entire month free.</div>
                </div><!-- /.col-lg-4 -->
            </div>
            <div class="row-fluid">
                <div class="plan span4">
                    <div class="plan-caption">Premier Plan</div>
                    <div class="plan-price-m"><span class="amount">$129</span> p.m. <br><small>(or)</small><br><span class="amount old">$1548</span><span class="amount"> $1419</span> annually</div>
                    <div class="plan-details">Upto 100,000 users</div>
                    <div class="plan-buy"><a class="btn btn-secondary" href="/signup?plan=premier" role="button">Get Started</a></div>
                </div><!-- /.span4 -->
                <div class="plan span4">
                    <div class="plan-caption">Regular Plan</div>
                    <div class="plan-price-m"><span class="amount">$49</span> p.m. <br><small>(or)</small><br><span class="amount old">$588</span><span class="amount"> $539</span> annually</div>
                    <div class="plan-details">Upto 20,000 users</div>
                    <div class="plan-buy"><a class="btn btn-primary" href="/signup?plan=regular" role="button">Get Started</a></div>
                </div><!-- /.span4 -->
                <div class="plan span4">
                    <div class="plan-caption">Starter Plan</div>
                    <div class="plan-price-m"><span class="amount">$19</span> monthly <br><small>(or)</small><br><span class="amount old">$228</span><span class="amount"> $209</span> annually</div>
                    <div class="plan-details">Upto 5000 users</div>
                    <div class="plan-buy"><a class="btn btn-secondary" href="/signup?plan=starter" role="button">Get Started</a></div>
                </div><!-- /.span4 -->
            </div><!-- /.row -->
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="large-notice">More than 100,000 users? Shoot a mail to <a href="mailto:sales@avatarpicker.com">sales@avatarpicker.com</a>.</div>
                    <div class="beta-notice">AvatarPicker is currently in beta, and no charges will be made during beta. Pricing is tentative, and subject to change.</div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <hr>
        </div>
    </div>
<% } %>
<% include footer %>
