<% include header %>
<div class="modal hide fade" id="modal-confirm">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4>Beware!</h4>
	</div>
	<div class="modal-body">
		<p>Any applications using the current API key will stop working immediately and will have to be updated. Are you sure you want to regenerate the API key?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary pull-left" id="btn-yes">Regenerate</a>
		<a href="#" class="btn btn-secondary pull-right" id="btn-no">Don't Regenerate</a>
	</div>
</div>
<div class="hero-unit">
	<form action="/user/regenerate-keys" method="POST" novalidate data-confirm="true">
		<div class="control-group container" id="cg-password" data-validate="password">
			<div class="controls input-prepend controls-tall">
				<label for="password" class="add-on">Password<i class="icon-locked"></i></label>
				<input type="password" id="password" name="password" class="input-xxlarge" placeholder="correct-horse-battery-staple" data-focus="1"></input>
			</div>
		</div>
		<input type="hidden" name="_csrf" value="<%= csrf %>"></input>
		<button type="submit" class="btn btn-large btn-secondary" id="btn-resend">Regenerate API Keys</button>
	</form>
</div>
<script type="text/javascript">
	$(window).ready(function(){
		<% if(locals.error){ %>
			app.showValidationError('#cg-password', '<%= error %>', {'email': '<%= user.email %>'});
		<% } %>
	});
</script>
<% include footer %>
