<% include header %>
<div class="hero-unit" id="reset-pass">
	<% if(locals.success){ %>
		<div class="container">
            <div class="row-fluid">
                <div class="span12">
            		<h3>Your password reset link has been sent!</h3>
            		<h4>&nbsp;</h4>
            		<p>We have sent an email to you at <%= email %>. Please follow the instructions in that email to login and set a new password. Once you have completed this, you can login and use AvatarPicker.</p>
            		<p>If you don't find the mail in your inbox, check your spam folder, and please mark the mail as 'Not Spam'</p>
            		<h4>&nbsp;</h4>
            		<a href="http://<%= email_domain %>" class="btn btn-large btn-secondary">Check your email at <%= email_domain %></a>
                </div>
            </div>
		</div>
	<% } else { %>
		<form action="/reset-password" method="POST" novalidate>
			<div class="control-group container" id="cg-email" data-validate="email">
				<div class="controls input-prepend controls-tall">
					<label for="email" class="add-on">Email<i class="icon-mail"></i></label>
				<input type="email" id="email" name="email" class="input-xxlarge" placeholder="you+tag@example.com" value="<%= email || '' %>" data-focus="1"></input>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="<%= csrf %>"></input>
			<button type="submit" class="btn btn-large btn-secondary" id="btn-signup">Reset Password</button>
		</form>
	<% } %>
</div>
<script type="text/javascript">
	$(window).ready(function(){
		<% if(locals.error){ %>
			app.showValidationError('#cg-email', '<%= error %>', {'email': '<%= email %>'});
		<% } %>
	});
</script>
<% include footer %>
