<% include header %>
<div id="terms" class="page">
	<div class="row-fluid container">
		<div class="span12">
			<h3>Terms and Conditions</h3>
			<p>By using this website, or any service provided by AvatarPicker, you agree to the following Terms and Conditions.</p>
			<textarea disabled="true">The following terms and conditions govern all use of the AvatarPicker.net ("AvatarPicker") website ("the Website") and all content, services and products available at or through the website. The Website is owned and operated by MSI Pvt. Ltd. ("MSIPL"). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, MSIPL's Privacy Policy) and procedures that may be published from time to time on this Site by MSIPL (collectively, the "Agreement").

Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by MSIPL, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.

Your AvatarPicker.net Account. You are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account. You must immediately notify MSIPL of any unauthorized uses of your account or any other breaches of security. MSIPL will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.

Without limiting any of those representations or warranties, MSIPL has the right (though not the obligation) to, in MSIPL's sole discretion (i) refuse or remove any content that, in MSIPL's reasonable opinion, violates any MSIPL policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in MSIPL's sole discretion. MSIPL will have no obligation to provide a refund of any amounts previously paid.

Payment and Renewal.
General Terms.
Payments will be charged on a pre-pay basis thirty days from the day you sign up for an account and will cover the use of that service for a monthly, annual or biennial subscription period as indicated.
Automatic Renewal.
Unless you notify MSIPL before the end of the applicable subscription period that you want to cancel an account, your account subscription will automatically renew and you authorize us to collect the then-applicable bienniel, annual or monthly subscription fee for such account (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Accounts can be canceled at any time by writing to support@avatarpicker.com.
Responsibility of Website Visitors. MSIPL has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material's content, use or effects. By operating the Website or Tour, MSIPL does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. MSIPL disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
Content Posted on Other Websites. We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which AvatarPicker.net links, and that link to AvatarPicker.net. MSIPL does not have any control over those non-AvatarPicker websites and webpages, and is not responsible for their contents or their use. By linking to a non-AvatarPicker website or webpage, MSIPL does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. MSIPL disclaims any responsibility for any harm resulting from your use of non-AvatarPicker websites and webpages.
Copyright Infringement and DMCA Policy. As MSIPL asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by AvatarPicker.net violates your copyright, you are encouraged to notify MSIPL in accordance with MSIPL's Digital Millennium Copyright Act ("DMCA") Policy. MSIPL will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. MSIPL will terminate a visitor's access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of MSIPL or others. In the case of such termination, MSIPL will have no obligation to provide a refund of any amounts previously paid to MSIPL.
Intellectual Property. This Agreement does not transfer from MSIPL to you any MSIPL or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with MSIPL. MSIPL, AvatarPicker, AvatarPicker.net, the AvatarPicker.net logo, and all other trademarks, service marks, graphics and logos used in connection with AvatarPicker.net, or the Website are trademarks or registered trademarks of MSIPL or MSIPL's licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any MSIPL or third-party trademarks.
Changes. MSIPL reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. MSIPL may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
Termination. MSIPL may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your AvatarPicker.net account (if you have one), you may write to support@avatarpicker.com. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
Disclaimer of Warranties. The Website is provided "as is". MSIPL and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither MSIPL nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. If you're actually reading this, here's a treat. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
Limitation of Liability. In no event will MSIPL, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to MSIPL under this agreement during the twelve (12) month period prior to the cause of action. MSIPL shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
General Representation and Warranty. You represent and warrant that (i) your use of the Website will be in strict accordance with the MSIPL Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
Indemnification. You agree to indemnify and hold harmless MSIPL, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
Miscellaneous. This Agreement constitutes the entire agreement between MSIPL and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of MSIPL, or by the posting by MSIPL of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of Tamil Nadu, India, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in Chennai, TamilNadu. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; MSIPL may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</textarea>
		</div>
		<div class="span12">
			Last Modified: 10 January 2015
		</div>
	</div>
</div>
<% include footer %>
