<% include header %>
<div class="container">
	<div class="row-fluid timezone-holder">
		<div class="span12">
			<h4>The following timezones are supported by AvatarPicker. These are taken from the <a href="http://www.iana.org/time-zones" target="_blank">IANA Timezone Database</a>.</h4>
		</div>
	</div>
	<div class="row-fluid timezone-holder">
		<div class="span4">
			<ul type="none">
				<li class="tzname">Asia/Kabul</li>
				<li class="tzname">Asia/Yerevan</li>
				<li class="tzname">Asia/Baku</li>
				<li class="tzname">Asia/Bahrain</li>
				<li class="tzname">Asia/Dhaka</li>
				<li class="tzname">Asia/Thimphu</li>
				<li class="tzname">Indian/Chagos</li>
				<li class="tzname">Asia/Brunei</li>
				<li class="tzname">Asia/Rangoon</li>
				<li class="tzname">Asia/Phnom_Penh</li>
				<li class="tzname">Asia/Harbin</li>
				<li class="tzname">Asia/Shanghai</li>
				<li class="tzname">Asia/Chongqing</li>
				<li class="tzname">Asia/Urumqi</li>
				<li class="tzname">Asia/Kashgar</li>
				<li class="tzname">Asia/Hong_Kong</li>
				<li class="tzname">Asia/Taipei</li>
				<li class="tzname">Asia/Macau</li>
				<li class="tzname">Asia/Nicosia</li>
				<li class="tzname">Asia/Tbilisi</li>
				<li class="tzname">Asia/Dili</li>
				<li class="tzname">Asia/Kolkata</li>
				<li class="tzname">Asia/Jakarta</li>
				<li class="tzname">Asia/Pontianak</li>
				<li class="tzname">Asia/Makassar</li>
				<li class="tzname">Asia/Jayapura</li>
				<li class="tzname">Asia/Tehran</li>
				<li class="tzname">Asia/Baghdad</li>
				<li class="tzname">Asia/Jerusalem</li>
				<li class="tzname">Asia/Tokyo</li>
				<li class="tzname">Asia/Amman</li>
				<li class="tzname">Asia/Almaty</li>
				<li class="tzname">Asia/Qyzylorda</li>
				<li class="tzname">Asia/Aqtobe</li>
				<li class="tzname">Asia/Aqtau</li>
				<li class="tzname">Asia/Oral</li>
				<li class="tzname">Asia/Bishkek</li>
				<li class="tzname">Asia/Seoul</li>
				<li class="tzname">Asia/Pyongyang</li>
				<li class="tzname">Asia/Kuwait</li>
				<li class="tzname">Asia/Vientiane</li>
				<li class="tzname">Asia/Beirut</li>
				<li class="tzname">Asia/Kuala_Lumpur</li>
				<li class="tzname">Asia/Kuching</li>
				<li class="tzname">Indian/Maldives</li>
				<li class="tzname">Asia/Hovd</li>
				<li class="tzname">Asia/Ulaanbaatar</li>
				<li class="tzname">Asia/Choibalsan</li>
				<li class="tzname">Asia/Kathmandu</li>
				<li class="tzname">Asia/Muscat</li>
				<li class="tzname">Asia/Karachi</li>
				<li class="tzname">Asia/Gaza</li>
				<li class="tzname">Asia/Hebron</li>
				<li class="tzname">Asia/Manila</li>
				<li class="tzname">Asia/Qatar</li>
				<li class="tzname">Asia/Riyadh</li>
				<li class="tzname">Asia/Singapore</li>
				<li class="tzname">Asia/Colombo</li>
				<li class="tzname">Asia/Damascus</li>
				<li class="tzname">Asia/Dushanbe</li>
				<li class="tzname">Asia/Bangkok</li>
				<li class="tzname">Asia/Ashgabat</li>
				<li class="tzname">Asia/Dubai</li>
				<li class="tzname">Asia/Samarkand</li>
				<li class="tzname">Asia/Tashkent</li>
				<li class="tzname">Asia/Ho_Chi_Minh</li>
				<li class="tzname">Asia/Aden</li>
				<li class="tzname">Australia/Darwin</li>
				<li class="tzname">Australia/Perth</li>
				<li class="tzname">Australia/Eucla</li>
				<li class="tzname">Australia/Brisbane</li>
				<li class="tzname">Australia/Lindeman</li>
				<li class="tzname">Australia/Adelaide</li>
				<li class="tzname">Australia/Hobart</li>
				<li class="tzname">Australia/Currie</li>
				<li class="tzname">Australia/Melbourne</li>
				<li class="tzname">Australia/Sydney</li>
				<li class="tzname">Australia/Broken_Hill</li>
				<li class="tzname">Australia/Lord_Howe</li>
				<li class="tzname">Antarctica/Macquarie</li>
				<li class="tzname">Indian/Christmas</li>
				<li class="tzname">Pacific/Rarotonga</li>
				<li class="tzname">Indian/Cocos</li>
				<li class="tzname">Pacific/Fiji</li>
				<li class="tzname">Pacific/Gambier</li>
				<li class="tzname">Pacific/Marquesas</li>
				<li class="tzname">Pacific/Tahiti</li>
				<li class="tzname">Pacific/Guam</li>
				<li class="tzname">Pacific/Tarawa</li>
				<li class="tzname">Pacific/Enderbury</li>
				<li class="tzname">Pacific/Kiritimati</li>
				<li class="tzname">Pacific/Saipan</li>
				<li class="tzname">Pacific/Majuro</li>
				<li class="tzname">Pacific/Kwajalein</li>
				<li class="tzname">Pacific/Chuuk</li>
				<li class="tzname">Pacific/Pohnpei</li>
				<li class="tzname">Pacific/Kosrae</li>
				<li class="tzname">Pacific/Nauru</li>
				<li class="tzname">Pacific/Noumea</li>
				<li class="tzname">Pacific/Auckland</li>
				<li class="tzname">Pacific/Chatham</li>
				<li class="tzname">Pacific/Niue</li>
				<li class="tzname">Pacific/Norfolk</li>
				<li class="tzname">Pacific/Palau</li>
				<li class="tzname">Pacific/Port_Moresby</li>
				<li class="tzname">Pacific/Pitcairn</li>
				<li class="tzname">Pacific/Pago_Pago</li>
				<li class="tzname">Pacific/Apia</li>
				<li class="tzname">Pacific/Guadalcanal</li>
				<li class="tzname">Pacific/Fakaofo</li>
				<li class="tzname">Pacific/Tongatapu</li>
				<li class="tzname">Pacific/Funafuti</li>
				<li class="tzname">Pacific/Johnston</li>
				<li class="tzname">Pacific/Midway</li>
				<li class="tzname">Pacific/Wake</li>
				<li class="tzname">Pacific/Efate</li>
				<li class="tzname">Pacific/Wallis</li>
				<li class="tzname">EST</li>
				<li class="tzname">MST</li>
				<li class="tzname">HST</li>
				<li class="tzname">EST5EDT</li>
				<li class="tzname">CST6CDT</li>
				<li class="tzname">MST7MDT</li>
				<li class="tzname">PST8PDT</li>
				<li class="tzname">America/New_York</li>
				<li class="tzname">America/Chicago</li>
				<li class="tzname">America/North_Dakota/Center</li>
				<li class="tzname">America/North_Dakota/New_Salem</li>
				<li class="tzname">America/North_Dakota/Beulah</li>
				<li class="tzname">America/Denver</li>
				<li class="tzname">America/Los_Angeles</li>
				<li class="tzname">America/Juneau</li>
				<li class="tzname">America/Sitka</li>
				<li class="tzname">America/Metlakatla</li>
				<li class="tzname">America/Yakutat</li>
				<li class="tzname">America/Anchorage</li>
				<li class="tzname">America/Nome</li>
			</ul>
		</div>
		<div class="span4">
			<ul type="none">
				<li class="tzname">America/Adak</li>
				<li class="tzname">Pacific/Honolulu</li>
				<li class="tzname">America/Phoenix</li>
				<li class="tzname">America/Boise</li>
				<li class="tzname">America/Indiana/Indianapolis</li>
				<li class="tzname">America/Indiana/Marengo</li>
				<li class="tzname">America/Indiana/Vincennes</li>
				<li class="tzname">America/Indiana/Tell_City</li>
				<li class="tzname">America/Indiana/Petersburg</li>
				<li class="tzname">America/Indiana/Knox</li>
				<li class="tzname">America/Indiana/Winamac</li>
				<li class="tzname">America/Indiana/Vevay</li>
				<li class="tzname">America/Kentucky/Louisville</li>
				<li class="tzname">America/Kentucky/Monticello</li>
				<li class="tzname">America/Detroit</li>
				<li class="tzname">America/Menominee</li>
				<li class="tzname">America/St_Johns</li>
				<li class="tzname">America/Goose_Bay</li>
				<li class="tzname">America/Halifax</li>
				<li class="tzname">America/Glace_Bay</li>
				<li class="tzname">America/Moncton</li>
				<li class="tzname">America/Blanc-Sablon</li>
				<li class="tzname">America/Montreal</li>
				<li class="tzname">America/Toronto</li>
				<li class="tzname">America/Thunder_Bay</li>
				<li class="tzname">America/Nipigon</li>
				<li class="tzname">America/Rainy_River</li>
				<li class="tzname">America/Atikokan</li>
				<li class="tzname">America/Winnipeg</li>
				<li class="tzname">America/Regina</li>
				<li class="tzname">America/Swift_Current</li>
				<li class="tzname">America/Edmonton</li>
				<li class="tzname">America/Vancouver</li>
				<li class="tzname">America/Dawson_Creek</li>
				<li class="tzname">America/Creston</li>
				<li class="tzname">America/Pangnirtung</li>
				<li class="tzname">America/Iqaluit</li>
				<li class="tzname">America/Resolute</li>
				<li class="tzname">America/Rankin_Inlet</li>
				<li class="tzname">America/Cambridge_Bay</li>
				<li class="tzname">America/Yellowknife</li>
				<li class="tzname">America/Inuvik</li>
				<li class="tzname">America/Whitehorse</li>
				<li class="tzname">America/Dawson</li>
				<li class="tzname">America/Cancun</li>
				<li class="tzname">America/Merida</li>
				<li class="tzname">America/Matamoros</li>
				<li class="tzname">America/Monterrey</li>
				<li class="tzname">America/Mexico_City</li>
				<li class="tzname">America/Ojinaga</li>
				<li class="tzname">America/Chihuahua</li>
				<li class="tzname">America/Hermosillo</li>
				<li class="tzname">America/Mazatlan</li>
				<li class="tzname">America/Bahia_Banderas</li>
				<li class="tzname">America/Tijuana</li>
				<li class="tzname">America/Santa_Isabel</li>
				<li class="tzname">America/Anguilla</li>
				<li class="tzname">America/Antigua</li>
				<li class="tzname">America/Nassau</li>
				<li class="tzname">America/Barbados</li>
				<li class="tzname">America/Belize</li>
				<li class="tzname">Atlantic/Bermuda</li>
				<li class="tzname">America/Cayman</li>
				<li class="tzname">America/Costa_Rica</li>
				<li class="tzname">America/Havana</li>
				<li class="tzname">America/Dominica</li>
				<li class="tzname">America/Santo_Domingo</li>
				<li class="tzname">America/El_Salvador</li>
				<li class="tzname">America/Grenada</li>
				<li class="tzname">America/Guadeloupe</li>
				<li class="tzname">America/Guatemala</li>
				<li class="tzname">America/Port-au-Prince</li>
				<li class="tzname">America/Tegucigalpa</li>
				<li class="tzname">America/Jamaica</li>
				<li class="tzname">America/Martinique</li>
				<li class="tzname">America/Montserrat</li>
				<li class="tzname">America/Managua</li>
				<li class="tzname">America/Panama</li>
				<li class="tzname">America/Puerto_Rico</li>
				<li class="tzname">America/St_Kitts</li>
				<li class="tzname">America/St_Lucia</li>
				<li class="tzname">America/Miquelon</li>
				<li class="tzname">America/St_Vincent</li>
				<li class="tzname">America/Grand_Turk</li>
				<li class="tzname">America/Tortola</li>
				<li class="tzname">America/St_Thomas</li>
				<li class="tzname">Europe/London</li>
				<li class="tzname">Europe/Dublin</li>
				<li class="tzname">WET</li>
				<li class="tzname">CET</li>
				<li class="tzname">MET</li>
				<li class="tzname">EET</li>
				<li class="tzname">Europe/Tirane</li>
				<li class="tzname">Europe/Andorra</li>
				<li class="tzname">Europe/Vienna</li>
				<li class="tzname">Europe/Minsk</li>
				<li class="tzname">Europe/Brussels</li>
				<li class="tzname">Europe/Sofia</li>
				<li class="tzname">Europe/Prague</li>
				<li class="tzname">Europe/Copenhagen</li>
				<li class="tzname">Atlantic/Faroe</li>
				<li class="tzname">America/Danmarkshavn</li>
				<li class="tzname">America/Scoresbysund</li>
				<li class="tzname">America/Godthab</li>
				<li class="tzname">America/Thule</li>
				<li class="tzname">Europe/Tallinn</li>
				<li class="tzname">Europe/Helsinki</li>
				<li class="tzname">Europe/Paris</li>
				<li class="tzname">Europe/Berlin</li>
				<li class="tzname">Europe/Gibraltar</li>
				<li class="tzname">Europe/Athens</li>
				<li class="tzname">Europe/Budapest</li>
				<li class="tzname">Atlantic/Reykjavik</li>
				<li class="tzname">Europe/Rome</li>
				<li class="tzname">Europe/Riga</li>
				<li class="tzname">Europe/Vaduz</li>
				<li class="tzname">Europe/Vilnius</li>
				<li class="tzname">Europe/Luxembourg</li>
				<li class="tzname">Europe/Malta</li>
				<li class="tzname">Europe/Chisinau</li>
				<li class="tzname">Europe/Monaco</li>
				<li class="tzname">Europe/Amsterdam</li>
				<li class="tzname">Europe/Oslo</li>
				<li class="tzname">Europe/Warsaw</li>
				<li class="tzname">Europe/Lisbon</li>
				<li class="tzname">Atlantic/Azores</li>
				<li class="tzname">Atlantic/Madeira</li>
				<li class="tzname">Europe/Bucharest</li>
				<li class="tzname">Europe/Kaliningrad</li>
				<li class="tzname">Europe/Moscow</li>
				<li class="tzname">Europe/Volgograd</li>
				<li class="tzname">Europe/Samara</li>
				<li class="tzname">Asia/Yekaterinburg</li>
				<li class="tzname">Asia/Omsk</li>
				<li class="tzname">Asia/Novosibirsk</li>
				<li class="tzname">Asia/Novokuznetsk</li>
			</ul>
		</div>
		<div class="span4">
			<ul type="none">
				<li class="tzname">Asia/Krasnoyarsk</li>
				<li class="tzname">Asia/Irkutsk</li>
				<li class="tzname">Asia/Yakutsk</li>
				<li class="tzname">Asia/Vladivostok</li>
				<li class="tzname">Asia/Khandyga</li>
				<li class="tzname">Asia/Sakhalin</li>
				<li class="tzname">Asia/Magadan</li>
				<li class="tzname">Asia/Ust-Nera</li>
				<li class="tzname">Asia/Kamchatka</li>
				<li class="tzname">Asia/Anadyr</li>
				<li class="tzname">Europe/Belgrade</li>
				<li class="tzname">Europe/Madrid</li>
				<li class="tzname">Africa/Ceuta</li>
				<li class="tzname">Atlantic/Canary</li>
				<li class="tzname">Europe/Stockholm</li>
				<li class="tzname">Europe/Zurich</li>
				<li class="tzname">Europe/Istanbul</li>
				<li class="tzname">Europe/Kiev</li>
				<li class="tzname">Europe/Uzhgorod</li>
				<li class="tzname">Europe/Zaporozhye</li>
				<li class="tzname">Europe/Simferopol</li>
				<li class="tzname">Antarctica/Casey</li>
				<li class="tzname">Antarctica/Davis</li>
				<li class="tzname">Antarctica/Mawson</li>
				<li class="tzname">Indian/Kerguelen</li>
				<li class="tzname">Antarctica/DumontDUrville</li>
				<li class="tzname">Antarctica/Syowa</li>
				<li class="tzname">Antarctica/Vostok</li>
				<li class="tzname">Antarctica/Rothera</li>
				<li class="tzname">Antarctica/Palmer</li>
				<li class="tzname">Antarctica/McMurdo</li>
				<li class="tzname">America/Argentina/Buenos_Aires</li>
				<li class="tzname">America/Argentina/Cordoba</li>
				<li class="tzname">America/Argentina/Salta</li>
				<li class="tzname">America/Argentina/Tucuman</li>
				<li class="tzname">America/Argentina/La_Rioja</li>
				<li class="tzname">America/Argentina/San_Juan</li>
				<li class="tzname">America/Argentina/Jujuy</li>
				<li class="tzname">America/Argentina/Catamarca</li>
				<li class="tzname">America/Argentina/Mendoza</li>
				<li class="tzname">America/Argentina/San_Luis</li>
				<li class="tzname">America/Argentina/Rio_Gallegos</li>
				<li class="tzname">America/Argentina/Ushuaia</li>
				<li class="tzname">America/Aruba</li>
				<li class="tzname">America/La_Paz</li>
				<li class="tzname">America/Noronha</li>
				<li class="tzname">America/Belem</li>
				<li class="tzname">America/Santarem</li>
				<li class="tzname">America/Fortaleza</li>
				<li class="tzname">America/Recife</li>
				<li class="tzname">America/Araguaina</li>
				<li class="tzname">America/Maceio</li>
				<li class="tzname">America/Bahia</li>
				<li class="tzname">America/Sao_Paulo</li>
				<li class="tzname">America/Campo_Grande</li>
				<li class="tzname">America/Cuiaba</li>
				<li class="tzname">America/Porto_Velho</li>
				<li class="tzname">America/Boa_Vista</li>
				<li class="tzname">America/Manaus</li>
				<li class="tzname">America/Eirunepe</li>
				<li class="tzname">America/Rio_Branco</li>
				<li class="tzname">America/Santiago</li>
				<li class="tzname">Pacific/Easter</li>
				<li class="tzname">America/Bogota</li>
				<li class="tzname">America/Curacao</li>
				<li class="tzname">America/Guayaquil</li>
				<li class="tzname">Pacific/Galapagos</li>
				<li class="tzname">Atlantic/Stanley</li>
				<li class="tzname">America/Cayenne</li>
				<li class="tzname">America/Guyana</li>
				<li class="tzname">America/Asuncion</li>
				<li class="tzname">America/Lima</li>
				<li class="tzname">Atlantic/South_Georgia</li>
				<li class="tzname">America/Paramaribo</li>
				<li class="tzname">America/Port_of_Spain</li>
				<li class="tzname">America/Montevideo</li>
				<li class="tzname">America/Caracas</li>
				<li class="tzname">Africa/Algiers</li>
				<li class="tzname">Africa/Luanda</li>
				<li class="tzname">Africa/Porto-Novo</li>
				<li class="tzname">Africa/Gaborone</li>
				<li class="tzname">Africa/Ouagadougou</li>
				<li class="tzname">Africa/Bujumbura</li>
				<li class="tzname">Africa/Douala</li>
				<li class="tzname">Atlantic/Cape_Verde</li>
				<li class="tzname">Africa/Bangui</li>
				<li class="tzname">Africa/Ndjamena</li>
				<li class="tzname">Indian/Comoro</li>
				<li class="tzname">Africa/Kinshasa</li>
				<li class="tzname">Africa/Lubumbashi</li>
				<li class="tzname">Africa/Brazzaville</li>
				<li class="tzname">Africa/Abidjan</li>
				<li class="tzname">Africa/Djibouti</li>
				<li class="tzname">Africa/Cairo</li>
				<li class="tzname">Africa/Malabo</li>
				<li class="tzname">Africa/Asmara</li>
				<li class="tzname">Africa/Addis_Ababa</li>
				<li class="tzname">Africa/Libreville</li>
				<li class="tzname">Africa/Banjul</li>
				<li class="tzname">Africa/Accra</li>
				<li class="tzname">Africa/Conakry</li>
				<li class="tzname">Africa/Bissau</li>
				<li class="tzname">Africa/Nairobi</li>
				<li class="tzname">Africa/Maseru</li>
				<li class="tzname">Africa/Monrovia</li>
				<li class="tzname">Africa/Tripoli</li>
				<li class="tzname">Indian/Antananarivo</li>
				<li class="tzname">Africa/Blantyre</li>
				<li class="tzname">Africa/Bamako</li>
				<li class="tzname">Africa/Nouakchott</li>
				<li class="tzname">Indian/Mauritius</li>
				<li class="tzname">Indian/Mayotte</li>
				<li class="tzname">Africa/Casablanca</li>
				<li class="tzname">Africa/El_Aaiun</li>
				<li class="tzname">Africa/Maputo</li>
				<li class="tzname">Africa/Windhoek</li>
				<li class="tzname">Africa/Niamey</li>
				<li class="tzname">Africa/Lagos</li>
				<li class="tzname">Indian/Reunion</li>
				<li class="tzname">Africa/Kigali</li>
				<li class="tzname">Atlantic/St_Helena</li>
				<li class="tzname">Africa/Sao_Tome</li>
				<li class="tzname">Africa/Dakar</li>
				<li class="tzname">Indian/Mahe</li>
				<li class="tzname">Africa/Freetown</li>
				<li class="tzname">Africa/Mogadishu</li>
				<li class="tzname">Africa/Johannesburg</li>
				<li class="tzname">Africa/Khartoum</li>
				<li class="tzname">Africa/Juba</li>
				<li class="tzname">Africa/Mbabane</li>
				<li class="tzname">Africa/Dar_es_Salaam</li>
				<li class="tzname">Africa/Lome</li>
				<li class="tzname">Africa/Tunis</li>
				<li class="tzname">Africa/Kampala</li>
				<li class="tzname">Africa/Lusaka</li>
				<li class="tzname">Africa/Harare</li>
			</ul>
		</div>
	</div>
</div>
<% include footer %>
