@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
/* ICOMoon Fonts */
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-locked, .icon-mail, .icon-key, .icon-arrow-down {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-image: none;
}
.icon-locked:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e001";
}
.icon-key:before {
	content: "\e002";
}
.icon-arrow-down:before {
	content: "\e003";
}
/* App styles */
html, body, .bg{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	width: 100%;
	font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
	color: #3c3c3c;
}
body#docs{
    height: auto;
}
.bg {
	background: url(../img/bg.jpg) no-repeat fixed;
    background-position-y: -70px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar {
	margin-bottom: 0;
    margin-top: 20px;
    border-radius: 2px;
	background-color: #0b0602;
	background-color: rgba(255,255,255,0.35);
}
.navbar-fixed-top + *{
	padding-top: 60px;
}
.navbar-inner{
	filter: none;
	background-color: transparent;
	background-image: none;
	border: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-sizing: border-box;
}
.navbar .brand {
	color: #ffffff;
	text-shadow: none;
	font-size: 22px;
	padding: 14px 20px;
}
.navbar .brand img {
    height: 40px;
	margin: -20px 10px;
}
.navbar .nav > li > a {
	color: #fff;
	text-shadow: none;
	padding: 15px 10px;
}
.navbar .btn-navbar {
	text-shadow: none;
	background-color: transparent;
	background-image: none;
	border-color: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 18px;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
	color: #ffffff;
	background-color: transparent;
	*background-color: transparent;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
	background-color: #000000 \9;
}
.nav-collapse .nav > li > a:hover,
.nav-collapse .nav > li > a:focus,
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus {
	background-color: rgba(255,255,255,0.75);
	color: #3c3c3c;
}
.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
	font-weight: normal;
	color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    padding: 10px !important;
  border: 0;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.row {
	margin-left: 10px;
}
#content, .dashboard-content-unit{
	background-color: #fff;
	color: #3c3c3c;
}
.dashboard-content-unit .control-group, .dashboard-content-unit .control-group .input-prepend{
    margin-bottom: 0px;
}
.dashboard-content-unit, #verify .container .row-fluid div, #change-pass .container .row-fluid div, #reset-pass .container .row-fluid div, #change-email .container .row-fluid div, #signup .container .row-fluid div{
    background-color: rgba(255,255,255,0.35);
    border-radius: 2px;
}
#reset-pass .container .row-fluid div, #change-pass .container .row-fluid div, #change-email .container .row-fluid div, #verify .container .row-fluid div, #signup .container .row-fluid div{
    text-shadow: 0px 1px 1px #000;
    font-size: 16px;
}
#terms .container *,#privacy .container *{
    text-shadow: 0px 1px 1px #000;
    color: #fff;
}
#terms .container textarea,#privacy .container textarea{
    text-shadow: none;
    color: #3e3e3e;
}
#content .row-fluid, .dashboard-content-unit .row-fluid {
    padding-top: 20px;
}
.dashboard-content-unit{
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 0px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: lighter;
}
.hero-unit {
	background-color: transparent;
	color: #ffffff;
	text-align: center;
	padding: 30px 0;
}
.page{
	min-height: 100%;
	position: relative;
}
.page-body{
	padding-bottom: 200px;
}
.footer{
	height: 200px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.page .row-fluid > div{
	text-align: center;
}
#index .page .row-fluid > div{
    line-height: 30px;
}
.closer, .footer-inner{
	background-color: #fff;
}
.closer .container{
	padding: 30px 0px;
}
.footer-inner .container{
	padding-bottom: 10px;
}
.closer .container, .footer-inner .container{
	text-align: center;
}
a,
a:focus,
a:hover{
	text-decoration: none;
}
.input-append .add-on,
.input-prepend .add-on {
	text-shadow: none;
	background-color: rgba(255,255,255,0.35);
	border: none;
}
.input-append .add-on i,
.input-prepend .add-on i{
	margin: 4px 3px 3px 5px;
}
.controls-tall .add-on, .controls-tall input, .controls-tall .btn{
	padding: 10px;
}
.pricing-box{
	margin: 60px 0px 20px 0px;
	background-color: rgba(0,0,0,0.65);
	border: 1px solid #000000;
	text-align: center;
}
.pricing-header{
	padding: 5px;
	background-color: rgba(0,0,0,0.65);
	border: 1px solid #000000;
}
.pricing-detail{
	padding: 20px;
	color: #dddddd;
}
.pricing-detail div{
	margin-bottom: 20px;
}
.pricing-box.highlight{
	margin-top: 40px;
	font-size: 16px;
}
.pricing-box.highlight .pricing-detail{
	padding: 30px;
}
.pricing-box .label{
	background-color: #d5871b;
	color: #ededed;
	text-shadow: none;
}
.pricing-footer-inner{
	text-align: center;
	margin-bottom: 20px;
}
.label-holder{
	position: relative;
}
.label-holder .label{
	width: 85px;
	position: absolute;
	font-size: 14px;
	font-weight: normal;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: -1px;
	padding: 3px 10px;
}
.label-holder .label.top{
	top: 0px;
}
.label-holder .label.right{
	right: 0px;
}
.label-holder .label.left{
	left: 0px;
}
.label-holder .label.center{
	left: 50%;
	margin-left: -52px;
}
.btn-warning{
	background-color: #b9710c;
	*background-color: #b9710c;
	background-image: -moz-linear-gradient(top, #d5871b, #b9710c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5871b), to(#b9710c));
	background-image: -webkit-linear-gradient(top, #d5871b, #b9710c);
	background-image: -o-linear-gradient(top, #d5871b, #b9710c);
	background-image: linear-gradient(to bottom, #d5871b, #b9710c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd5871b', endColorstr='#ffb9710c', GradientType=0);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	color: #ffffff;
	background-color: #b9710c;
	*background-color: #b9710c;
}
.btn-warning:active,
.btn-warning.active {
	background-color: #b9710c \9;
}
.help-block{
	color: #ededed !important;
	font-size: 14px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: -10px;
}
#btn-signup, #btn-resend, #btn-login{
	margin-bottom: 20px;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
	color: #ffffff;
	background-color: rgba(255,0,0,0.65);
	border-color: #b94a48;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
	color: #ffffff;
	background-color: rgba(185,113,12,0.85);
	border-color: #b9710c;
}
#gg-usage{
	width: 100%;
}
#api-info{
	padding-top: 0;
    margin: 0;
}
.tooltip{
	font-size: 13px;
}
.tooltip-inner{
	max-width: none;
}
.dashboard-content-unit .control-group .input-append .btn{
	width: 70px !important;
}
.hero-unit.dashboard{
	padding: 40px 60px 0px 60px;
}
.modal{
	border: 1px solid #c3c3c3;
	border-radius: 0px;
}
.modal, .modal-footer{
	background-color: #fff;
	text-align: center;
}
.modal-header{
	border-bottom: none;
}
.modal-footer{
	border-top: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-align: left;
}
.close{
	color: #ffffff;
	opacity: 0.4;
}
.close:hover, .close:focus{
	color: #ffffff;
	opacity: 0.6;
}
.row1 .dashboard-content-unit{
	min-height: 256px;
}
.btn-primary {
  background-color: #6200cc;
  *background-color: #6200cc;
  background-image: -moz-linear-gradient(top, #7c00cc, #6200cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c00cc), to(#6200cc));
  background-image: -webkit-linear-gradient(top, #7c00cc, #6200cc);
  background-image: -o-linear-gradient(top, #7c00cc, #6200cc);
  background-image: linear-gradient(to bottom, #7c00cc, #6200cc);
  border-color: #6200cc #6200cc #7c00cc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #6200cc;
  *background-color: #6200cc;
}
.btn-danger {
  background-color: #da4f49;
  *background-color: rgb(183,9,9);
  background-image: -moz-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(193,9,9)), to(rgb(183,9,9)));
  background-image: -webkit-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: -o-linear-gradient(top, rgb(193,9,9), rgb(183,9,9));
  background-image: linear-gradient(to bottom, rgb(193,9,9), rgb(183,9,9));
  border-color: rgb(183,9,9) rgb(183,9,9) rgb(193,9,9);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: rgb(183,9,9);
  *background-color: rgb(183,9,9);
}
#pricing .notice-container{
    margin-bottom:20px;
}
#pricing .notice, #logout p{
    text-shadow: 0px 1px 1px #000;
}
#terms .span12{
	text-align:center;
	margin-bottom:20px;
}
#terms .span12 textarea{
	width: 90%;
	height: 400px;
}
.accordion{
	margin-bottom: 0px;
}
.timezone-holder, .accordion-group{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color: rgba(255,255,255,0.35);
	border: 0px;
    border-radius: 2px;
}
.accordion-group .accordion-heading a{
    color: #ddd;
    text-align: left;
}
.accordion-group .accordion-heading{
    border-bottom: 1px solid rgba(157,157,157,0.5);
    border-radius: 2px;
}
.accordion-group .accordion-group .accordion-heading a{
    color: #676767;
}
.timezone-holder{
	margin: 20px auto;
}
.accordion-inner{
	border-top: none;
}
.accordion-body, .container > .timezone-holder > div{
	text-align: left;
    background-color: rgba(255,255,255,0.35);
}
.container > .timezone-holder > div{
	padding: 10px 20px;
}
#acc-docs{
	margin: 20px 0px;
}
.api, .example{
	margin: 20px 0px 10px 10px;
}
.input, .output{
	margin-top: 20px;
}
div#logo + div{
    clear: right;
}
div#logo{
    width: 300px;
    height: 300px;
    border: 6px solid #fff;
    position: relative;
    float: right;
    cursor: pointer;
}
div#logo img,div#logo div#logo-text{
    position: absolute;
}
div#logo img{
    right: 5px;
    bottom: 60px;
    width: 127px;
    height: 127px;
}
div#logo div#logo-text{
    bottom: 18px;
    font-size: 48px;
    text-align: center;
    left:0;
    right:0;
}
div#tag-line{
    padding: 20px 0;
    font-size: 24px;
    text-align: right;
    text-shadow: 0px 1px 1px #000;
}
a.btn, button.btn{
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px #676767;
    -moz-box-shadow:    0px 1px 1px 0px #676767;
    box-shadow:         0px 1px 1px 0px #676767;
    padding: 5px 10px;
    background: #fff;
    display: inline-block;
    *display: inline;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px 10px 0;
    border: 0px;
    text-shadow: none;
    padding: 10px 20px;
    outline: 0px;
}
a.btn:active, button.btn:active{
    -webkit-box-shadow: 0px 1px 1px 0px #676767 inset;
    -moz-box-shadow:    0px 1px 1px 0px #676767 inset;
    box-shadow:         0px 1px 1px 0px #676767 inset;
    border: 0px;
    color: #fff;
    outline: 0px;
}
a.btn.dark, button.btn.dark,a.btn.dark:active, button.btn.dark:active,a.btn.dark:active:hover, button.btn.dark:active:hover{
    background: #292724;
    color: #e2e2e2;
    color: #fff;
    outline: 0px;
}
a.btn.dark:hover, button.btn.dark:hover{
    background: #3C3934;
    color: #fff;
    outline: 0px;
}
a.btn.btn-primary, a.btn.btn-primary, a.btn.btn-primary:active, a.btn.btn-primary:active, a.btn.btn-primary:active:hover, a.btn.btn-primary:active:hover,
button.btn.btn-primary, button.btn.btn-primary, button.btn.btn-primary:active, button.btn.btn-primary:active, button.btn.btn-primary:active:hover, button.btn.btn-primary:active:hover{
    background: rgba(240, 11, 63, 0.84);
    font-size: 16px;
    color: #fff;
    outline: 0px;
}
a.btn.btn-primary:hover, a.btn.btn-primary:hover,
button.btn.btn-primary:hover, button.btn.btn-primary:hover{
    background: rgba(240, 11, 63, 0.94);
    color: #fff;
    outline: 0px;
}
a.btn.btn-secondary, a.btn.btn-secondary, a.btn.btn-secondary:active, a.btn.btn-secondary:active, a.btn.btn-secondary:active:hover, a.btn.btn-secondary:active:hover,
button.btn.btn-secondary, button.btn.btn-secondary, button.btn.btn-secondary:active, button.btn.btn-secondary:active, button.btn.btn-secondary:active:hover, button.btn.btn-secondary:active:hover{
    background: rgba(14, 162, 197, 0.84);
    color: #fff;
    outline: 0px;
}
a.btn.btn-secondary:hover, a.btn.btn-secondary:hover,
button.btn.btn-secondary:hover, button.btn.btn-secondary:hover{
    background: rgba(14, 162, 197, 0.94);
    color: #fff;
    outline: 0px;
}
#pricing div.plan{
    background-color: #fff;
    padding: 10px 0;
    color: #3c3c3c;
    border-radius: 2px;
}
#pricing div.plan:nth-child(odd){
    margin-top: 10px;
}
#pricing div.plan:nth-child(even){
    padding: 20px 0;
}
#signup h4{
    text-shadow: 0px 1px 1px #000;
}
#pricing div.plan div{
    padding: 10px 0;
}
#pricing div.plan div.plan-caption{
    font-size: 20px;
}
#pricing div.plan div.plan-price-m{
    font-style: italic;
}
#pricing div.plan div.plan-price-m span.amount{
    font-weight: 700;
    font-size: 16px;
}
#pricing div.plan div.plan-price-m span.amount.old{
    font-weight: 400;
    text-decoration: line-through;
}
#index .tooltip{
    left: 89px !important;
}
#index .tooltip-inner{
    background-color: #ff0057;
    color: #000;
}
#index .tooltip.left .tooltip-arrow{
    border-left-color: #ff0057;
}
#docs textarea{
    margin: 0;
    width: 100%;
    max-width: 600px;
    height: 225px;
}
#docs .navbar{
    margin-top: 0px;
    background-color: #000;
}
#docs .navbar .brand{
    margin-left: -10px;
}
#docs #content{
    margin-left: 0;
}
#docs .sidebar .nav-list{
    position: fixed;
}
#docs .page-body{
    padding-bottom: 10px;
}
#docs .navbar .nav > li > a:hover{
    background-color: #3e3e3e;
    color: #fff;
}
#docs #content{
    border-left: 1px solid #e2e2e2;
    padding-left: 20px;
    padding-bottom: 20px;
}
#docs .section{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}
#docs .section .section:last-child{
    border-bottom: 0px;
}
#docs .section .section{
    margin-left: 30px;
}
#docs .section:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}
#docs .section-content{
    margin-top: 20px;
}
#docs .section-title{
    margin-bottom: -10px;
}
#docs .spacer{
    width: 1px;
    height: 30px;
}
#docs #footer{
    text-align: center;
    position: static;
    padding: 10px 0;
    display: block;
}
#docs .row-fluid > div{
    text-align: left;
}
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
    .hero-unit .container{
        max-width: 860px;
    }
}
@media (max-width: 1200px) {
	.page-body{
		padding-bottom: 220px;
	}
	.footer{
		height: 220px;
	}
}
@media (max-width: 979px) {
	.navbar .brand {
		padding-right: 5px;
		padding-left: 5px;
	}
	.navbar .brand img {
		margin-left: 25px;
	}
	.hero-unit{
		padding: 20px;
		padding-bottom: 0px;
    }
    .footer .closer .container{
        padding: 20px;
    }
    .navbar-fixed-top + *{
        padding-top: 20px;
    }
    .pricing-box{
        margin-top: 20px;
    }
    .pricing-box.highlight{
        margin-top: 0px;
    }
    .page-body{
        padding-bottom: 200px;
    }
    .footer{
        height: 200px;
    }
    .navbar{
        margin-top: 0px;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin: 0px;
    }
    .page-body{
        padding-bottom: 240px;
    }
    .footer{
        height: 240px;
    }
}
@media (max-width: 480px) {
	body {
		padding: 0px;
	}
    .hero-unit{
        padding: 4px;
    }
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin: 0px;
	}
	.page-body{
		padding-bottom: 320px;
	}
	.footer{
		height: 320px;
	}
}
