@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?ajtnfq');
    src:url('/fonts/icomoon.eot?#iefixajtnfq') format('embedded-opentype'),
        url('/fonts/icomoon.woff?ajtnfq') format('woff'),
        url('/fonts/icomoon.ttf?ajtnfq') format('truetype'),
        url('/fonts/icomoon.svg?ajtnfq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
    content: "\e600";
}
.icon-redo:before {
    content: "\e601";
}
.icon-flip:before {
    content: "\e602";
}
.icon-flip2:before {
    content: "\e603";
}
.icon-minus:before {
    content: "\e604";
}
.icon-plus:before {
    content: "\e605";
}
div.widget{
    background: #fff;
    margin: auto;
    border: 1px solid #e3e3e3;
    color: #555;
}
div.widget, div.widget div{
    box-sizing: border-box;
}
div.header, div.footer{
    padding: 4px 8px;
    margin: 0 4px;
}
div.header{
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 8px;
}
div.footer{
    border-top: 1px solid #e3e3e3;
}
div.footer span.buttons{
    float: right;
}
div.content, div.footer{
    overflow: auto;
}
div.content{
    margin: 0 auto;
    padding: 10px 10px;
}
div.screen-select div.content{
    padding: 10px 0;
}
div.image-option{
    width: 120px;
    height: 120px;
    float: left;
    margin: 0 10px;
    border: 1px solid #e3e3e3;
}
div.shadow-90{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.75);
}
div.screen{
    display: none;
}
div.screen-select{
    display: block;
}
div.dropper{
    border: 3px dashed #e3e3e3;
    margin: 10px;
    padding: 10px;
    height: 200px;
    padding-top: 70px;
    color: #666;
    text-align: center;
}

@media (min-width: 570px) {
    div.widget{
        max-width: 562px;
    }
}
@media (min-width: 280px) and (max-width: 590px) {
    div.widget{
        max-width: 282px;
    }
}
