<!doctype html>
<html>
<head>
    <title>AvatarPicker - <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.environment && environment == 'development'){ %>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <% } else{ %>
    <link href="/css/app.min.css" rel="stylesheet">
    <% } %>
</head>
<body id="docs" data-spy="scroll" data-target="#this-sidebar .nav">
    <% if(locals.environment && environment == 'development'){ %>
    <script src="/js/jquery.1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
    <% } else{ %>
    <script src="/js/app.min.js"></script>
    <% } %>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/"><img src="/img/logo.png">AvatarPicker</a>
            <ul class="nav pull-right">
                <li><a href="/#features">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li class="active"><a href="#">Documentation</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="page">
        <div class="page-body row-fluid">
            <div class="span2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">Topics</li>
                    <li><a href="/docs/getting-started">Getting Started</a></li>
                    <li><a href="/docs/integration">Widget Integration</a></li>
                    <li class="active"><a href="/docs/customizing">Customizing AvatarPicker</a></li>
                    <li><a href="/docs/security">Securing AvatarPicker</a></li>
                </ul>
            </div>
            <div class="span8" id="content">
                <div id="customize-widget" class="section">
                    <div class="section-title"><h3>Customizing AvatarPicker for your Application</h3></div>
                    <div class="section-content">
                        <p>AvatarPicker works quite well with just the bare minimum <a href="/docs/integration#basic-config" target="_blank">basic configuration</a>. However, you may wish to customize the widget for use on your site.</p>
                        <p>Currently, the AvatarPicker widget supports the following customization options. You can:</p>
                        <ul>
                            <li>Customize the button captions and text labels that appear throughout the widget.</li>
                            <li>Customize the error messages that get displayed by the widget.</li>
                            <li>Customize the complete look and feel of the widget to suit your site using custom CSS.</li>
                        </ul>
                        <p>This page will demonstrate how to customize you AvatarPicker widget.</p>
                    </div>
                </div>
                <div id="config-object" class="section">
                    <div class="section-title"><h3>The config Object</h3></div>
                    <div class="section-content">
                        <p>In order to understand how to customize your AvatarPicker widget, you need to first understand the <strong>config</strong> object.</p>
                        <p>The config object is the object that is passed to the <strong>initAvatarPicker</strong> function to trigger the AvatarPicker widget.</p>
                        <p>The config object that you pass to the <strong>initAvatarPicker</strong> function is deep-merged with the default config object, contained within the AvatarPicker widget, and the resulting object is used to configure the widget.</p>
                        <p>So let's take a look at the default config object, to understand how to customize the widget.</p>
                    </div>
                </div>
                <div id="config-default" class="section">
                    <div class="section-title"><h3>The Default config Object</h3></div>
                    <div class="section-content">
                        <p>First, let's get a good look at the default config object.</p>
                        <script src="https://gist.github.com/anonymous/36e855b0ac16e25eb07f.js"></script>
                        <p>Now, let's see what the different configuration options control.</p>
                    </div>
                </div>
                <div id="mandatory-properties" class="section">
                    <div class="section-title"><h3>Mandatory config Properties</h3></div>
                    <div class="section-content">
                        <p>While almost all of the properties specified above are optional, and can be skipped, there are a few that are mandatory. Not passing these values, or leaving them null or undefined, will cause the AvatarPicker widget to throw an error and stop loading.</p>
                        <p>So let's have a look at these mandatory properties.</p>
                        <div id="mandatory-properties-userhash-example" class="section">
                            <div class="section-content">
                                <p><strong>userHash:</strong> This should be the md5 hash of the unique identifier of the user on your application. This can be either an email, a username, or even a user id. For added safety it is recommended that you concatenate the unique identifier with a user-specific salt, and then generate and md5 hash of the resultant string. The userhash is how AvatarPicker recognizes a particular user on your application and hence needs to be constant for each user.</p>
                                <p>Example:</p>
                                <script src="https://gist.github.com/anonymous/51f7aac886912cbaf914.js"></script>
                            </div>
                        </div>
                        <div id="mandatory-properties-challenge-example" class="section">
                            <div class="section-content">
                                <p><strong>challenge:</strong> This should be a randomly generated string, atleast 32 characters long.</p>
                                <p>Example:</p>
                                <script src="https://gist.github.com/anonymous/01ef7e84fe15bb1459cf.js"></script>
                            </div>
                        </div>
                        <div id="mandatory-properties-challengehash-example" class="section">
                            <div class="section-content">
                                <p><strong>challengeHash:</strong> Concatenate the challenge with the API secret from your <a href="/user/dashboard" target="_blank">dashboard</a>, and MD5 hash the resulting string.</p>
                                <p>Example:</p>
                                <script src="https://gist.github.com/anonymous/5ad3e9006d25c1f24690.js"></script>
                            </div>
                        </div>
                        <div id="mandatory-properties-apikey-example" class="section">
                            <div class="section-content">
                                <p><strong>apiKey:</strong> The API key from your <a href="/user/dashboard" target="_blank">dashboard</a>. This is used to identify the calling application.</p>
                                <p>Example:</p>
                                <script src="https://gist.github.com/anonymous/285a201cd4e1dca1e455.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="optional-properties" class="section">
                    <div class="section-title"><h3>Optional config Properties</h3></div>
                    <div class="section-content">
                        <p>Now that we are familiar with the mandatory config properties, let's move on to the optional config properties.</p>
                        <div id="optional-properties-select-example" class="section">
                            <div class="section-title"><h4>The select Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>select</strong> screen is the initial selection screen of the AvatarPicker widget.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>select</strong> property of the config object.</p>
                                <p>This is the default <strong>select</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/e49ed9e3d319fd977bd6.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-select-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the select screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/73561cce58aca33ea883.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>altText:</strong> This is the caption displayed in the mouse tooltip, when you hover over any of the options in the select screen.</p>
                                                <p>This is an object, with four properties, each corresponding to one of the available options.</p>
                                                <script src="https://gist.github.com/anonymous/cdc87e7d4c81296fe420.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>optionTitles:</strong> This is the caption displayed under each of the options in the select screen.</p>
                                                <p>This is an object, with five properties. In addition to the four corresponding to each of the available options, there is an extra option <strong>existing</strong>.</p>
                                                <p>The <strong>existing</strong> property specifies the caption to be displayed for the first option, if the user has already set an avatar through the AvatarPicker widget. Otherwise, the <strong>upload</strong> optionTitle is displayed as the caption for the first option.</p>
                                                <script src="https://gist.github.com/anonymous/7543cafb1c5c0b721f75.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the select screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/8e6ff6c528c39346d4de.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-existing-example" class="section">
                            <div class="section-title"><h4>The existing Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>existing</strong> screen is only shown when the user has already set an avatar using AvatarPicker. It provides options for the user to delete their existing avatar, or to upload a new one.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>existing</strong> property of the config object.</p>
                                <p>This is the default <strong>select</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/cf46b9205c5a7c02e0e0.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the existing screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/86fd1ce55f4c7ef00065.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the existing screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/6f14685398268f8293b6.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-upload-example" class="section">
                            <div class="section-title"><h4>The upload Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>upload</strong> screen is shown when the user chooses to upload an avatar from their device. It allows the user to drag and drop an image, or to browse their device and select an image to upload.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>upload</strong> property of the config object.</p>
                                <p>This is the default <strong>upload</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/6d3e3245407617587cbe.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-upload-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the upload screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/fcff3b31694603a3a993.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the upload screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/759a7af31e5128ba0d8d.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>dropCaption:</strong> This is the caption that is displayed in the image drop area of the upload screen.</p>
                                                <p>This is an array of strings, with each item of the array corresponding to a line of the caption.</p>
                                                <script src="https://gist.github.com/anonymous/e7af2459c283ef6d58cb.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>clickCaption:</strong> This is the caption that is displayed on the click area of the upload screen. This caption is only displayed if the user's browser does not support image drag-drop.</p>
                                                <p>This is an array of strings, with each item of the array corresponding to a line of the caption.</p>
                                                <script src="https://gist.github.com/anonymous/2cb0e3f05a65c31edd9f.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-edit-example" class="section">
                            <div class="section-title"><h4>The edit Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>edit</strong> screen is shown after the user has uploaded an image they wish to use as their avatar. This screen allows the user to rotate, flip and crop the image to their preference.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>edit</strong> property of the config object.</p>
                                <p>This is the default <strong>edit</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/c32702b50240a986f238.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the edit screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/2f007b700f841aa34443.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the edit screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/8bd48342f22f98000dd9.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-gravatar-example" class="section">
                            <div class="section-title"><h4>The gravatar Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>Gravatar</strong> screen is shown if the user chooses to use their Gravatar avatar.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>gravatar</strong> property of the config object.</p>
                                <p>This is the default <strong>gravatar</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/50a5084f536b8edf5dd6.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the gravatar screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/6772bdecebd5f558fa16.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>placeholder:</strong> This is the placeholder text that is displayed in the username input field of the gravatar screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/11173dc904d3966ad1fb.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>label:</strong> This is the label text that is displayed for the username input field of the gravatar screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/81a5be4578ff60eb2c19.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>username:</strong> This is the email address of the user. Can be any string.</p>
                                                <p>When your application already has the user's email address, use this option to prefetch the corresponding display image from Gravatar. This can be changed by the user if so desired.</p>
                                                <script src="https://gist.github.com/anonymous/1888f5dee5cdf30046b1.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the gravatar screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/ccf68a67e788efc57cdd.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-twitter-example" class="section">
                            <div class="section-title"><h4>The twitter Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>Twitter</strong> screen is shown if the user chooses to use their Twitter avatar.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>twitter</strong> property of the config object.</p>
                                <p>This is the default <strong>twitter</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/2641cc6db69041c22989.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the twitter screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/14b33d388ee8174c6214.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>placeholder:</strong> This is the placeholder text that is displayed in the username input field of the twitter screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/f46b85b2c52dc8c5ec1b.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>label:</strong> This is the label text that is displayed for the username input field of the twitter screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/babb2694e83571de10d6.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>username:</strong> This is the twitter username of the user. Can be any string.</p>
                                                <p>When your application supports Twitter oAuth login, and you already have the user's Twitter username, use this option to prefetch the corresponding display image from Twitter. This can be changed by the user if so desired.</p>
                                                <script src="https://gist.github.com/anonymous/3f0373e404df1604c6fb.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the twitter screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/ba228a15d387970c183b.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-facebook-example" class="section">
                            <div class="section-title"><h4>The facebook Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>Facebook</strong> screen is shown if the user chooses to use their Facebook avatar.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>facebook</strong> property of the config object.</p>
                                <p>This is the default <strong>facebook</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/7411c38ea517e20f4cdb.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the facebook screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/081bf506a63cde64fe15.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>placeholder:</strong> This is the placeholder text that is displayed in the username input field of the facebook screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/19ef1dc8ea70f372757a.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>label:</strong> This is the label text that is displayed for the username input field of the facebook screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/c3630da13cef1f5f1bb5.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>username:</strong> This is the facebook username of the user. Can be any string.</p>
                                                <p>When your application supports Facebook Connect login, and you already have the user's Facebook username, use this option to prefetch the corresponding display image from Facebook. This can be changed by the user if so desired.</p>
                                                <script src="https://gist.github.com/anonymous/31731d446ba6398ff94f.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the facebook screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/3e1e7b412825715990bb.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-final-example" class="section">
                            <div class="section-title"><h4>The final Screen</h4></div>
                            <div class="section-content">
                                <p>The <strong>final</strong> screen is shown after the user has uploaded and edited an image they wish to use as their avatar, or chosen to use their avatar from Gravatar, Twitter or Facebook.</p>
                                <p>This is a final confirmation screen, which provides an option for the user to either accept the newly set avatar, by closing the widget, or to change their username, in case they mistyped their username.</p>
                                <p>All the button captions and labels that appear on this screen are controlled by the <strong>final</strong> property of the config object.</p>
                                <p>This is the default <strong>final</strong> screen configuration:</p>
                                <script src="https://gist.github.com/anonymous/912361e23c744831364a.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>title:</strong> This is the title that is displayed in the header of the final screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/4e0de8823a72a327c458.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>detail:</strong> This is the label text that is displayed in the final screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/1c163939ef95ef586960.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>subDetail:</strong> This is the smaller text that is displayed below the detail text on the final screen. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/2754c3fbb65e5c4a2d53.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>buttons:</strong> This is the caption displayed for each of the buttons in the final screen.</p>
                                                <p>This is an object, with multiple properties. Each property corresponds to a button on the screen.</p>
                                                <p>Each property in turn is an object, with a single property <strong>title</strong>. This specifies the actual caption displayed on the button.</p>
                                                <script src="https://gist.github.com/anonymous/33454d5c60211fc74636.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-errors-example" class="section">
                            <div class="section-title"><h4>Error Messages</h4></div>
                            <div class="section-content">
                                <p>Apart from the various button captions and label texts on the various screens of the AvatarPicker widget, AvatarPicker also allows you to customize the error messages shown by the widget.</p>
                                <p>All the error messages shown are taken from the <strong>errors</strong> property of the config object.
                                <p>This is the default <strong>errors</strong> configuration:</p>
                                <script src="https://gist.github.com/anonymous/8c63d8e730dea691ddb3.js"></script>
                                <p>So let's take a more detailed look at those properties.</p>
                                <div id="optional-properties-existing-example-properties" class="section">
                                    <div class="section-content">
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>notAnImage:</strong> Displayed when the file the user selects to upload is not a valid image. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/6ad3e338d4e2d444a69d.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>imageUploadFailed:</strong> Displayed when any error occurs while trying to upload the image the user selected to AvatarPicker servers. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/34c1ca2115076e8992da.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>imageEditFailed:</strong> Displayed when any error occurs while trying to edit the image as per the user's preferences. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/501379acfbadf2a3edf1.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>noImageSelected:</strong> Displayed when the user clicks the Upload button without actually selecting any image file. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/bf028a8633319a3e95c2.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>usernameFailed:</strong> Displayed when any error occurs while trying to retrieve the avatar image for the specified username from Gravatar, Twitter or Facebook. Can be any string.</p>
                                                <p>This string includes two template variables - <strong>{{service}}</strong> and <strong>{{username}}</strong>. These refer to the selected service (Gravatar, Twitter or Facebook) from which the user wishes to get their avatar and the username for that particular service.</p>
                                                <script src="https://gist.github.com/anonymous/e5cef25dff63f513acf1.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>usernameRequired:</strong> Displayed when the user clicks the OK button on the Gravatar, Twitter or Facebook screens without entering a username first. Can be any string.</p>
                                                <p>This string includes a template variable - <strong>{{service}}</strong>. This refers to the selected service (Gravatar, Twitter or Facebook) from which the user wishes to get their avatar.</p>
                                                <script src="https://gist.github.com/anonymous/0e763d8efb9eea37af26.js"></script>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <div class="section-content">
                                                <p><strong>imageDeleteFailed:</strong> Displayed when any error occurs while trying to remove the previously set avatar. Can be any string.</p>
                                                <script src="https://gist.github.com/anonymous/de6dbd04b0fe5734b019.js"></script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="optional-properties-customCSS-example" class="section">
                            <div class="section-title"><h4>Custom CSS</h4></div>
                            <div class="section-content">
                                <p>AvatarPicker allows you to customize the complete look and feel of the widget in order to suit your site better. This can be done by passing your custom CSS rules as a string in the <strong>customCSS</strong> parameter for the config object.</p>
                                <p>As an example, if you wish to change the header text color on all the screens of the AvatarPicker widget, you can pass in the following customCSS:</p>
                                <script src="https://gist.github.com/anonymous/a746a01b53a7ad490c8d.js"></script>
                                <div class="section">
                                    <div class="section-content">
                                        <p>The default CSS that is used by the AvatarPicker widget is provided below.</p>
                                        <script src="https://gist.github.com/anonymous/5e394de943a6dea7e7f1.js"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2 sidebar" id="this-sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">In this topic</li>
                    <li><a href="#config-object">Config Object</a></li>
                    <li><a href="#config-default">Default Config Object</a></li>
                    <li><a href="#mandatory-properties">Mandatory Properties</a></li>
                    <li><a href="#optional-properties">Optional Properties</a></li>
                    <li><a href="#optional-properties-select-example">Select Screen</a></li>
                    <li><a href="#optional-properties-existing-example">Existing Screen</a></li>
                    <li><a href="#optional-properties-upload-example">Upload Screen</a></li>
                    <li><a href="#optional-properties-edit-example">Edit Screen</a></li>
                    <li><a href="#optional-properties-gravatar-example">Gravatar Screen</a></li>
                    <li><a href="#optional-properties-twitter-example">Twitter Screen</a></li>
                    <li><a href="#optional-properties-facebook-example">Facebook Screen</a></li>
                    <li><a href="#optional-properties-final-example">Final Screen</a></li>
                    <li><a href="#optional-properties-errors-example">Error Messages</a></li>
                    <li><a href="#optional-properties-customCSS-example">Custom CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div  class="container">
            <a href="/">AvatarPicker</a> -
            <a href="/terms">Terms and Conditions</a> -
            <a href="/privacy">Privacy Policy</a> -
            <a href="mailto:support@avatarpicker.com">Support</a>
        </div>
    </div>
</body>
</html>
