<!doctype html>
<html>
<head>
	<title>AvatarPicker - <%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if(locals.environment && environment == 'development'){ %>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
	<% } else{ %>
	<link href="/css/app.min.css" rel="stylesheet">
	<% } %>
</head>
<body id="docs" data-spy="scroll" data-target="#sidebar .nav">
	<% if(locals.environment && environment == 'development'){ %>
	<script src="/js/jquery.1.10.2.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/app.js"></script>
	<% } else{ %>
	<script src="/js/app.min.js"></script>
	<% } %>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="/"><img src="/img/logo.png">AvatarPicker</a>
			<ul class="nav pull-right">
				<li><a href="/#features">Features</a></li>
				<li><a href="/pricing">Pricing</a></li>
				<li class="active"><a href="#">Documentation</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
	<div class="page">
		<div class="page-body row-fluid">
			<div class="span2 sidebar">
				<ul class="nav nav-list">
					<li class="nav-header">Topics</li>
                    <li class="active"><a href="/docs/getting-started">Getting Started</a></li>
                    <li><a href="/docs/integration">Widget Integration</a></li>
                    <li><a href="/docs/customization">Customizing AvatarPicker</a></li>
                    <li><a href="/docs/security">Securing AvatarPicker</a></li>
				</ul>
			</div>
			<div class="span8" id="content">
				<div id="getting-started" class="section">
					<div class="section-title"><h3>Getting Started</h3></div>
					<div class="section-content">
						<p>In order to get started with AvatarPicker, you first need to get yourself an AvatarPicker account.</p>
					</div>
				</div>
				<div id="create-account" class="section">
					<div class="section-title"><h3>Creating an Account</h3></div>
					<div class="section-content">
						<p>In order to get an account, goto the <a href="/signup" target="_blank">signup page</a>.</p>
						<p>Enter your email id and click the 'Sign Me Up' button.</p>
						<p>That's it, you're done. Yes, really. Ok, not really, you still need to verify your email address.</p>
					</div>
				</div>
				<div id="verify-email" class="section">
					<div class="section-title"><h3>Verifying your Email Address</h3></div>
					<div class="section-content">
						<p>Once you have signed up for an account, we'll send an email containing a verification link (and a code) to the address you signed up with.</p>
						<p>Open your email account, and locate the email from AvatarPicker. Usually, it should be in your inbox, but at times it might be wrongly marked as spam (especially if you happen to be using Hotmail, Outlook, or Exchange for your email).</p>
						<p>Either click the link, or copy-paste it into your browser's address bar. This will take you to the email verification page.</p>
						<p>If your verification code hasn't expired by the time you click the link, your email address will be verified and you will be redirected to a password change page.</p>
						<p>Enter a password of your choice in both the boxes, and click the 'Change Password' button.</p>
						<p>Congratulations! You're now done setting up your AvatarPicker account. You can now login to your account.</p>
					</div>
				</div>
			</div>
			<div class="span2 sidebar">
				<ul class="nav nav-list">
					<li class="nav-header">In this topic</li>
					<li><a href="#getting-started">Getting Started</a></li>
					<li><a href="#create-account">Creating an Account</a></li>
					<li><a href="#verify-email">Verifying your Email</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div  class="container">
			<a href="/">AvatarPicker</a> -
			<a href="/terms">Terms and Conditions</a> -
			<a href="/privacy">Privacy Policy</a> -
			<a href="mailto:support@avatarpicker.com">Support</a>
		</div>
	</div>
</body>
</html>
