<!doctype html>
<html>
<head>
    <title>AvatarPicker - <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.environment && environment == 'development'){ %>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <% } else{ %>
    <link href="/css/app.min.css" rel="stylesheet">
    <% } %>
</head>
<body id="docs" data-spy="scroll" data-target="#sidebar .nav">
    <% if(locals.environment && environment == 'development'){ %>
    <script src="/js/jquery.1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
    <% } else{ %>
    <script src="/js/app.min.js"></script>
    <% } %>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/"><img src="/img/logo.png">AvatarPicker</a>
            <ul class="nav pull-right">
                <li><a href="/#features">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li class="active"><a href="#">Documentation</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="page">
        <div class="page-body row-fluid">
            <div class="span2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">Topics</li>
                    <li><a href="/docs/getting-started">Getting Started</a></li>
                    <li class="active"><a href="/docs/integration">Widget Integration</a></li>
                    <li><a href="/docs/customization">Customizing AvatarPicker</a></li>
                    <li><a href="/docs/security">Securing AvatarPicker</a></li>
                </ul>
            </div>
            <div class="span8" id="content">
                <div id="basic-integration" class="section">
                    <div class="section-title"><h3>Integrating AvatarPicker with your Application</h3></div>
                    <div class="section-content">
                        <p>Now that you have an account, we are ready to actually deploy the AvatarPicker widget on your web application. The widget is the only means by which your users can upload, edit and use their avatars, or choose to use one from Twitter/Facebook/Gravatar.</p>
                        <p>Typically the AvatarPicker widget will be placed on a page in which the user's avatar is already displayed (such as a profile or settings page), and upon clicking the existing avatar, the AvatarPicker widget will be triggered.</p>
                        <p class="well"><strong>Important Note:</strong> The widget should be placed on a page that is only accessible to a particular user, or is secured behind an access-controlled section of your application. See the <a href="/docs/security" target="_blank">security</a> section for more details.</p>
                    </div>
                </div>
                <div id="basic-tag" class="section">
                    <div class="section-content">
                        <p>In order to deploy the widget on your application, first include the AvatarPicker widget code on the page on which you wish to place the widget. Ideally, this would be placed just before the closing body tag, but you can put it anywhere within the body of the page.</p>
                        <script src="https://gist.github.com/anonymous/2996df3c35041b78379d.js"></script>
                    </div>
                </div>
                <div id="basic-config" class="section">
                    <div class="section-content">
                        <p>Now that we have included the widget, we need to configure it and set it up to be triggered on clicking the existing avatar image. To do this, copy paste the code below, into your page, just below the previous tag.</p>
                        <script src="https://gist.github.com/anonymous/b63910ebe2d504f2f158.js"></script>
                    </div>
                </div>
                <div id="userhash-example" class="section">
                    <div class="section-content">
                        <p>In the previous code, you will have to replace everything contained between '<' and '>' as below:</p>
                        <p><strong>userHash:</strong> This should be the md5 hash of the unique identifier of the user on your application. This can be either an email, a username, or even a user id. For added safety it is recommended that you concatenate the unique identifier with a user-specific salt, and then generate and md5 hash of the resultant string. The userhash is how AvatarPicker recognizes a particular user on your application and hence needs to be constant for each user.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/51f7aac886912cbaf914.js"></script>
                    </div>
                </div>
                <div id="challenge-example" class="section">
                    <div class="section-content">
                        <p><strong>challenge:</strong> This should be a randomly generated string, atleast 32 characters long.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/01ef7e84fe15bb1459cf.js"></script>
                    </div>
                </div>
                <div id="challengehash-example" class="section">
                    <div class="section-content">
                        <p><strong>challengeHash:</strong> Concatenate the challenge with the API secret from your <a href="/user/dashboard" target="_blank">dashboard</a>, and MD5 hash the resulting string.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/5ad3e9006d25c1f24690.js"></script>
                    </div>
                </div>
                <div id="apikey-example" class="section">
                    <div class="section-content">
                        <p><strong>apiKey:</strong> The API key from your <a href="/user/dashboard" target="_blank">dashboard</a>. This is used to identify the calling application.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/285a201cd4e1dca1e455.js"></script>
                    </div>
                </div>
                <div id="defaultavatar-example" class="section">
                    <div class="section-content">
                        <p><strong>defaultAvatar:</strong> This is used to specify the image to be displayed in case the user chooses to not use any avatar, or if the user removes their previously uploaded avatar. This should be a valid URL which will serve an image upon request.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/0c84d43b33090b4d01f8.js"></script>
                    </div>
                </div>
                <div id="embed-avatar" class="section">
                    <div class="section-title"><h3>Embedding User Avatars</h3></div>
                    <div class="section-content">
                        <p>Once your users have set their avatars using AvatarPicker, you can include them wherever you want on your application, by simply using an image tag.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/f5f9c96fce1c561c8ac8.js"></script>
                        <p>In the above url replace the <strong>apiId</strong> with the API ID from your <a href="/user/dashboard" target="_blank">dashboard</a>, and the <strong>userHash</strong> with the user hash for that particular user.</p>
                        <p>In order to determine how to generate the userHash, read the <a href="#userhash-example" target="_blank">basic configuration</a> docs.</p>
                    </div>
                </div>
                <div id="embed-config" class="section">
                    <div class="section-content">
                        <p>You can also specify certain options for the avatar image url, by using the following request parameters:</p>
                        <p><strong>s:</strong> Avatar Size. This option is used to specify the size (in pixels) of the avatar image to be retrieved. AvatarPicker uses only square images, so the width and the height of the image will always be the same.</p>
                        <div class="well">
                            <p><strong>Important Note:</strong> While AvatarPicker supports the size parameter, we do not really return the exact size as requested. Instead we try to retrieve the image of a size that is as close to the requested size as possible.</p><p>As such you should never use the size parameter to control the size of the avatar images on your application. Instead use CSS to ensure that all avatar images conform to your size needs.</p>
                        </div>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/edf5992eeba9fcf19d71.js"></script>
                        <p><strong>d:</strong> Default Image URL. This option is used to specify the default avatar image to be used. In case the user has not set any avatar, or has chosen to delete their existing user avatar, AvatarPicker will redirect the browser to this url.</p>
                        <p>Example:</p>
                        <script src="https://gist.github.com/anonymous/706be184424d23ed1849.js"></script>
                        <p>You can also mix and match both the parameters as below:</p>
                        <script src="https://gist.github.com/anonymous/bf4c30aee080567c1e67.js"></script>
                    </div>
                </div>
                <div id="conclusion" class="section">
                    <div class="section-content">
                        <p>That's it. You're done. You can now see the AvatarPicker widget in action by opening the page into which you integrated the AvatarPicker widget, and clicking on the trigger element.</p>
                        <p>If you find that the widget does not load or is not working properly, it probably means that the widget was not configured correctly. Open up your Javascript Console, and check if there are any error messages. Resolving the errors should get the widget running.</p>
                    </div>
                </div>
            </div>
            <div class="span2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">In this topic</li>
                    <li><a href="#basic-integration">Basic Integration</a></li>
                    <li><a href="#basic-tag">Including the Widget</a></li>
                    <li><a href="#basic-config">Configuring the Widget</a></li>
                    <li><a href="#embed-avatar">Embedding User Avatars</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div  class="container">
            <a href="/">AvatarPicker</a> -
            <a href="/terms">Terms and Conditions</a> -
            <a href="/privacy">Privacy Policy</a> -
            <a href="mailto:support@avatarpicker.com">Support</a>
        </div>
    </div>
</body>
</html>
