<!doctype html>
<html>
<head>
    <title>AvatarPicker - <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.environment && environment == 'development'){ %>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <% } else{ %>
    <link href="/css/app.min.css" rel="stylesheet">
    <% } %>
</head>
<body id="docs" data-spy="scroll" data-target="#sidebar .nav">
    <% if(locals.environment && environment == 'development'){ %>
    <script src="/js/jquery.1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
    <% } else{ %>
    <script src="/js/app.min.js"></script>
    <% } %>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/"><img src="/img/logo.png">AvatarPicker</a>
            <ul class="nav pull-right">
                <li><a href="/#features">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li class="active"><a href="#">Documentation</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="page">
        <div class="page-body row-fluid">
            <div class="span2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">Topics</li>
                    <li><a href="/docs/getting-started">Getting Started</a></li>
                    <li><a href="/docs/integration">Widget Integration</a></li>
                    <li><a href="/docs/customization">Customizing AvatarPicker</a></li>
                    <li class="active"><a href="/docs/security">Securing AvatarPicker</a></li>
                </ul>
            </div>
            <div class="span8" id="content">
                <div id="basic-security" class="section">
                    <div class="section-title"><h3>Securing your AvatarPicker Integration</h3></div>
                    <div class="section-content">
                        <p>AvatarPicker allows your users to change their avatar without having to navigate off-site or login to another application.</p>
                        <p>While integrating the AvatarPicker widget into your application, certain security precautions need to be observed.</p>
                    </div>
                </div>
                <div id="account-info" class="section">
                    <div class="section-title"><h3>Account Information</h3></div>
                    <div class="section-content">
                        <p>Your AvatarPicker account is the sole way to access and modify your API information.</p>
                        <p>Your account information primarily consists of the email address and the password you use to login to your AvatarPicker account.</p>
                        <p>Anybody who has your account information can read and regenerate your API key and secret, thus either impersonating your application, or sabotaging the AvatarPicker widget implementation on your site.</p>
                        <p>Please ensure that you keep your account information secret, and reveal them only to those who will be administering your AvatarPicker account.</p>
                        <p class="well"><strong>Important Note:</strong> In case your account information is compromised, or if you suspect that your account has been compromised, immediately reset your account and API information by logging into your AvatarPicker <a href="/user/dashboard" target="_blank">dashboard</a>.</p>
                    </div>
                </div>
                <div id="api-info" class="section">
                    <div class="section-title"><h3>API Information</h3></div>
                    <div class="section-content">
                        <p>Your API information primarily consists of the API Key and the API Secret that is available from your AvatarPicker <a href="/user/dashboard" target="_blank">dashboard</a>.</p>
                        <p>Anybody who has your API information, can integrate the AvatarPicker widget on their application and impersonate your application.</p>
                        <p>While the <strong>API Key</strong> has to be embedded into your client-side code in order to integrate the AvatarPicker widget, the API Secret should never be embedded in any client-side code.</p>
                        <p>The <strong>API secret</strong> is used to authenticate your AvatarPicker widget integration and should never be embedded in any client-side code.</p>
                        <p>The API secret is usually concatenated with the randomly generated challenge string (as mentioned in the <a href="/docs/integration#basic-integration" target="_blank">basic integration</a> docs) and the resultant string is MD5 hashed and embedded into your AvatarPicker widget integration as the <strong>challengeHash</strong>.</p>
                        <p>This concatenation and hashing should be done on the server-side only and never on the client-side.</p>
                        <p class="well"><strong>Important Note:</strong> In case your API information is compromised, or if you suspect that your account has been compromised, immediately reset your account and API information by logging into your AvatarPicker <a href="/user/dashboard" target="_blank">dashboard</a>.</p>
                    </div>
                </div>
                <div id="integration-info" class="section">
                    <div class="section-title"><h3>Integration Security</h3></div>
                    <div class="section-content">
                        <p>The AvatarPicker widget utilizes the <strong>challenge</strong>,<strong>challengeHash</strong>,<strong>userHash</strong> and the <strong>apiKey</strong>, in order to authorize your widget integration as well as to identify users on your application to AvatarPicker.</p>
                        <p>As such anybody who has all these keys, will be able to change the avatar of that particular user on your application. Since all these keys are embedded in the client-side code, anybody can freely obtain these keys by simply looking at the page's source.</p>
                        <p>In order to prevent this from happening, you will have to:</p>
                        <ul>
                            <li>Correctly generate the userHash as mentioned in the <a href="/docs/integration#basic-integration" target="_blank">basic integration</a> docs.</li>
                            <li>Ensure that the AvatarPicker widget is only deployed on pages that are only accessible to a particular user. Usually, this would be a profile page, or a settings page. In any case do ensure that the widget is only placed on a page which is behind a user authentication wall.</li>
                        </ul>
                        <p>These two measures should prevent unauthorized people from changing your users' avatars on your application.</p>
                    </div>
                </div>
                <div id="conclusion" class="section">
                    <div class="section-content">
                        <p>Following the policies specified in this document should keep your AvatarPicker integration secure.</p>
                        <p>In case you find any security related bug in AvatarPicker, please do send us a mail describing the issue to <a href="mailto:security@avatarpicker.com">security@avatarpicker.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="span2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">In this topic</li>
                    <li><a href="#account-info">Account Security</a></li>
                    <li><a href="#api-info">API Security</a></li>
                    <li><a href="#integration-info">Integration Security</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div  class="container">
            <a href="/">AvatarPicker</a> -
            <a href="/terms">Terms and Conditions</a> -
            <a href="/privacy">Privacy Policy</a> -
            <a href="mailto:support@avatarpicker.com">Support</a>
        </div>
    </div>
</body>
</html>
